h1 {
        padding: 0.2em;
    }

section[data-background-image] {
  position: relative;
}
section[data-background-image] > :first-child:not(:last-child) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(17,17,17,0.8);
  z-index: 0;
  margin: 0;
  padding: 0;
}
section[data-background-image] > :nth-child(n + 2) {
  position: relative;
  z-index: 1;
}

.reveal table {
    font-size: 0.7em;
}
